/* Global Styles */

:root {
    /* Thème clair */
    --background-color: #ffffff;
    --text-color: #333333;
    --btn-text-color: #fff;
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --ads-btn-color:#da89aa;
    --reporter-btn-color:#7aba7d;
    --tracks-btn-color:#6fa1b6;
    --header-color: #34495e;
    --footer-color: #2c3e50;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    /* Espacements et typographie */
    --font-family-sans: 'Roboto', Arial, sans-serif;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
}

[data-theme="dark"] {
    /* Thème sombre */
    --background-color: #2c3e50;
    --container:#384e65;
    --xmlcontainer:#384e65;
    --tab-content:#566e88;
    --section:#566e88;
    --mapping-section:#566e88;
    --text-color: #ecf0f1;
    --header-color: #1a252f;
    --footer-color: #121a21;
    --tool-circle-color: rgba(208, 215, 216, 0.83); /* Cercle plus clair */
    --box-shadow: 0 4px 10px rgba(27, 27, 27, 0.828);
}


body, .container, header, footer {
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
    /* Couleurs générales */
    --background-color: #ffffff;
    --text-color: #333333;
    --font-family-sans: 'Roboto', Arial, sans-serif;

    /* Couleurs spécifiques aux outils */
    --ads-color: #da89aa;
    --hub-color: #00cfff;
    --xplorer-color: #6c8cb7;
    --tracks-color: #6fa1b6;
    --reporter-color: #7aba7d;

    /* Espacements */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;

    /* Bordures */
    --border-radius: 8px;
}

/* Conteneur du bouton interrupteur */
.theme-toggle {
    position: fixed;
    top: 45px;
    right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 30px;
    background-color: var(--header-color);
    border: 1px solid var(--text-color);
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Soleil (icône jour) */
.theme-toggle .sun {
    font-size: 16px;
    color: #f39c12; /* Jaune soleil */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Lune (icône nuit) */
.theme-toggle .moon {
    font-size: 16px;
    color: #bdc3c7; /* Gris clair */
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Position active jour/nuit */
.theme-toggle.active .sun {
    transform: translateX(-30px);
    opacity: 0;
}

.theme-toggle.active .moon {
    transform: translateX(0);
    opacity: 1;
}

.theme-toggle:not(.active) .sun {
    transform: translateX(0);
    opacity: 1;
}

.theme-toggle:not(.active) .moon {
    transform: translateX(30px);
    opacity: 0;
}

body {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.logo {
    height: 80px;
    max-width: 100%;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps global */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f9; /* Couleur douce de fond */
    color: #333;
    margin: 0;
    padding: 0;
}

hr{
    max-width: 90%;
}

/* Header */
header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    color: #ffffff; /* Texte blanc par défaut */
    margin: 20px auto;
    max-width: 1300px;
    border-radius: 6px;
    box-shadow: 0px 8px 17px 1px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

header img {
    max-width: 80%;
    height: auto;
    margin-top: 10px;
    max-height: 100px;
}

.header-container {
    padding: 10px 0px 20px 0px;
}

.logo {
    height: 180px; /* Hauteur de l'image du logo */
    max-width: 100%; /* Assurer la réactivité de l'image */
}


.back-to-hub {
    position: fixed;
    top: 70px;
    right: 5px;
    display: flex;
    justify-content: center;
    margin: 10px 0; /* Espace au-dessus et en dessous */
}

.back-to-hub img {
    width: 50%;
    height: 50%;
}

.back-to-hub button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #00cfff; /* Couleur du Hub */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-to-hub button:hover {
    background-color: #00b2cc; /* Couleur légèrement plus sombre au survol */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Conteneur des boutons de navigation */
.nav-buttons {
    display: flex;
    gap: var(--spacing-small); /* Espacement entre les boutons */
    position: absolute; /* Permet un positionnement personnalisé */
    top: 70px; /* Ajuste selon la taille du header */
    left: 50%;
    transform: translateX(-50%); /* Centre les boutons horizontalement */
}

/* Boutons de navigation */
.nav-buttons {
    display: flex;
    gap: var(--spacing-small); /* Espacement entre les boutons */
    top:150px;
}

/* Boutons individuels Ads */
.ads-nav-btn {
    background-color: var(--ads-btn-color);
    color: var(--btn-text-color);
    padding: var(--spacing-small) var(--spacing-medium);
    text-decoration: none;
    font-weight: bold;
    border-radius: var(--border-radius);
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.3),
                0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}


/* Hover et Active */
.ads-nav-btn:hover {
    background-color: var(--ads-color);
    transform: scale(1.05);
}

/* Boutons individuels Reporter */
.reporter-nav-btn {
    background-color: var(--reporter-btn-color);
    color: var(--btn-text-color);
    padding: var(--spacing-small) var(--spacing-medium);
    text-decoration: none;
    font-weight: bold;
    border-radius: var(--border-radius);
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.3),
                0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}


/* Hover et Active */
.reporter-nav-btn:hover {
    background-color: var(--reporter-color);
    transform: scale(1.05);
}

/* Boutons individuels Reporter */
.tracks-nav-btn {
    background-color: var(--tracks-btn-color);
    color: var(--btn-text-color);
    padding: var(--spacing-small) var(--spacing-medium);
    text-decoration: none;
    font-weight: bold;
    border-radius: var(--border-radius);
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.3),
                0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover et Active */
.tracks-nav-btn:hover {
    background-color: var(--tracks-color);
    transform: scale(1.05);
}



.nav-btn:active {
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* Responsivité */
@media (max-width: 768px) {
    .nav-buttons {
        flex-direction: column; /* Boutons empilés sur mobiles */
        top: 80px;
    }

    .nav-btn {
        width: 100%; /* Boutons plein écran sur mobiles */
        text-align: center;
    }
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    gap: 10px;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

footer img {
    height: 40px;
    margin-right: 10px;
}

footer span {
    font-weight: 500;
}
